# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log

# Virtual environments
venv/
env/

# PyTorch/Model Files
*.pth
*.pt

# Frontend
*.DS_Store
node_modules/
dist/
build/

# Environment files
.env

# VSCode or IDE
.vscode/
.idea/

# OS-specific
Thumbs.db
.DS_Store
